<!DICTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="YUCOAT file share center!">
<title>Welcome to YUCOAT File Center!</title>
<link href="./main.css" rel="stylesheet">
<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav>
<ul class = "site-logo">
<li><a href="/">YUCOAT</a></li>
</ul>
<ul class = "top-navbar">
<li><a href="#" alt="">Home</a></li>
<li><a href="#" alt="">About</a></li>
</ul>
</nav>
<div id="main-content" class="container">
<table class="table">
  <thead>
    <tr>
      <td>文件名</td>
      <td>文件大小</td>
      <td>修改日期</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>filename.iso</td>
      <td>4.1G</td>
      <td>2012-7-9</td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>
